---
import styles from "./showcase-list.module.scss";
import { getCollection } from "astro:content";
import ShowcaseCard from "./ShowcaseCard.astro";
import type { CollectionEntry } from "astro:content";

interface Section {
  title: string;
  posts: CollectionEntry<"showcase">[];
  subSections?: Section[];
}

interface Props {
  sections: Section[];
}

const { sections } = Astro.props;

const base = import.meta.env.BASE_URL || "/";
---

<div class={styles.container}>
  <!-- 3. 遍歷傳入的 sections 來動態產生區塊 -->
  {
    sections.map((section) => (
      <div class={styles.list_section}>
        <h2 class={styles.section_title}>{section.title}</h2>
        {section.posts.length > 0 && (
          <ul class={styles.list}>
            {section.posts.map((post) => (
              <li>
                <a href={`${base}/showcase/${post.id}`}>
                  <ShowcaseCard
                    heroImage={post.data.heroImage}
                    title={post.data.title}
                  />
                </a>
              </li>
            ))}
          </ul>
        )}
        {section.subSections &&
          section.subSections.map((subSection) => (
            <div class={styles.sub_section}>
              <h3 class={styles.sub_section_title}>{subSection.title}</h3>
              <ul class={styles.list}>
                {subSection.posts.map((post) => (
                  <li>
                    <a href={`${base}/showcase/${post.id}`}>
                      <ShowcaseCard
                        heroImage={post.data.heroImage}
                        title={post.data.title}
                      />
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))}
      </div>
    ))
  }
</div>
